.faculty-container{

padding:40px;
background:#f3f4f6;
min-height:100vh;
font-family:sans-serif;

}


/* NAVBAR */

.faculty-navbar{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 4px 15px rgba(0,0,0,0.1);

}

.faculty-navbar h2{

color:#333;
font-size:26px;

}

.nav-buttons{

display:flex;
gap:15px;

}


/* BUTTONS */

.create-btn{

background:#4f46e5;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;
cursor:pointer;
font-weight:600;

}

.create-btn:hover{

background:#4438cad3;

}


.profile-btn{

background:#10b981;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;
cursor:pointer;
font-weight:600;

}

.profile-btn:hover{

background:#059669;

}


/* TABLE */

.table-container{

background:white;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
overflow-x:auto;

}

table{

width:100%;
border-collapse:collapse;

}

th{

background:#111827;
color:white;
padding:15px;
text-align:left;

}

td{

padding:15px;
border-bottom:1px solid #eee;

}

tr:hover{

background:#f9fafb;

}

.status{

color:#1a9748da;
font-weight:600;

}


/* MOBILE */

@media (max-width:768px){

.faculty-navbar{

flex-direction:column;
align-items:flex-start;
gap:15px;

}

.nav-buttons{

flex-direction:column;
width:100%;

}

.create-btn,
.profile-btn{

width:100%;

}

}